@model AppMulte.Models.Violazione

<h2>Dettagli Violazione</h2>

<div>
    <h4>ID Violazione: @Model.IDViolazione</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Descrizione</dt>
        <dd class="col-sm-10">@Model.Descrizione</dd>
    </dl>
</div>

<button type="button" class="btn btn-warning">
    <a href="@Url.Action("Edit", new { id = Model.IDViolazione })" class="btn btn-link custom-link p-0">Modifica</a>
</button>

<button type="button" class="btn btn-success">
    <a href="@Url.Action("Index")" class="btn btn-link custom-link p-0">Torna alla Lista</a>
</button>



<style>

    .custom-link {
        text-decoration: none;
        color: black;
    }

</style>