@model AppMulte.Models.Violazione

<h2>Dettagli Violazione</h2>

<div>
    <h4>ID Violazione: @Model.IDViolazione</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Descrizione</dt>
        <dd class="col-sm-10">@Model.Descrizione</dd>
    </dl>
</div>

<a asp-action="Index">Torna all'elenco</a>
