@model AppMulte.Models.Violazione

<h2>Modifica Violazione</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IDViolazione" />
    <div class="form-group">
        <label>Descrizione</label>
        <input asp-for="Descrizione" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salva Modifiche</button>
</form>
