@model List<AppMulte.Models.VerbaliPerTrasgressore>

<h2>Verbali per Trasgressore</h2>

<table class="table">
    <thead>
        <tr>
            <th>Trasgressore</th>
            <th>Numero Verbali</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Trasgressore.Cognome, @item.Trasgressore.Nome</td>
                <td>@item.NumeroVerbali</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-success">
        <a href="@Url.Action("Index")" class="btn btn-link custom-link p-0">Torna alla Lista</a>
    </button>
</div>

<style>

    .custom-link {
        text-decoration: none;
        color: black;
    }

</style>