@model AppMulte.Models.Agente

<h2>Dettagli Agente</h2>

<div>
    <h4>Nome: @Model.NomeAgente</h4>
    <h4>Cognome: @Model.CognomeAgente</h4>
</div>
<p>
    <button type="button" class="btn btn-warning">
        <a href="@Url.Action("Edit", new { id = Model.IDAgente })" class="btn btn-link custom-link p-0">Modifica</a>
    </button>

    <button type="button" class="btn btn-success">
        <a href="@Url.Action("Index")" class="btn btn-link custom-link p-0">Torna alla Lista</a>
    </button>

</p>

<style>

    .custom-link {
        text-decoration: none;
        color: black;
    }
</style>